
<div class="container-fluid">
       <br>
	   <br>
        <div class="col d-flex justify-content-center">
            <div class="card shadow c1 text-white" style="width: 20rem;">
                <div class="card-body">
				<h4 class="card-title">Sign Up</h4>	
			<br>
                    <form>
                      
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" placeholder="Your email" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" placeholder="Your password" [(ngModel)]="password">
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
							<button type="button" class="btn c1b1 text-white" (click)="register()">Register</button>
                            </div>
							
                        </div>
						<br>
                       
						<br>
						<div class="row">
						<div class="col-md-12 text-center">
						<small>Already have an account? <a href="/login">Sign in</a></small>
						</div>
						</div>
                    </form>
                </div>
            </div>
        </div>
        
   














