.c12 {
	background-color:#6b728e;
}
.c1b1 {
	background-color:#6c4ab6;
}
.c1t1 {
	color:#8000d7;
}
.newp2 {
	color:white;
}
.n12 {
	background-color:#50577a;
}
.k12 {
	background-color:#474e68;
}
.cr2 {
	color:#6c4ab6;
}