<div class="container-fluid">
     <br>
	 <br>
        <div class="col d-flex justify-content-center">
            <div class="card shadow" style="width: 30rem;">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-muted">Welcome!</h4>
                        </div>
                        <div class="mb-3">
						<img src="../../../assets/inema2.jpg" class="img-fluid" alt="Email Sent">
                           <p class="text-muted">Link has been sent on your registered email. Please verify it.</p>
                        </div>
						<div class="row">
						<div class="col-md-12 text-center">
					<small><a href="/login"><i class="fa-solid fa-right-to-bracket" style="color:#1573fd;"></i> Continue to Sign in</a></small>
						</div>
						</div>
                    </form>
                </div>
            </div>
        </div>
       
  
</div>