
<div class="container-fluid">
       <br>
	   <br>
        <div class="col d-flex justify-content-center">
            <div class="card shadow c1 text-white" style="width: 20rem;">
                <div class="card-body">
				<h4 class="card-title">Forgot Password</h4>	
			<br>
                    <form>
                      
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" placeholder="Your email" name="email" [(ngModel)]="email">
                        </div>
                       
                        
                        <div class="row">
                            <div class="col-md-6">
							<button type="button" class="btn c1b1 text-white" (click)="forgotPassword()">Send Link</button>
                            </div>
                        </div>    
                        <br>		
						<div class="row">
						<div class="col-md-12 text-center">
						<small><a href="/login" class="text-dark" style="text-decoration: none;">Back to login page</a></small>
						</div>
						</div>
                    </form>
                </div>
            </div>
        </div>





















